.sidebar {
  position: absolute;
  right: 0;
  height: 100%;
  width: 20vw;
  border: none;
  border-left: 2px solid var(--outline);

  background: var(--background);

  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
  transition: all 0.3s ease;
}

.sidebar.active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.sidebar #close {
  position: relative;
  right: 1vw;
  top: 1vh;
}
