#help-dialog {
  /* Positioning for overlay */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  /* Sizing */
  height: 60vh;
  width: 50vw;

  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vw;

  /* Appearance */
  background-color: var(--background);
  border: 1px solid var(--outline);
  border-radius: 6px;

  /* Hiding the dialog box */
  opacity: 0;
  pointer-events: none;

  /* Animation */
  transition: all 0.2s ease;
}

.keybinds-container {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  margin-left: 4vw;
}

#help-dialog.active {
  opacity: 1;
  pointer-events: auto;
}

#help-dialog #close-btn {
  position: relative;
  top: -5vw;
  left: 24vw;
  width: 3vw;
}

@media only screen and (max-width: 600px) {
  #help-dialog #close-btn {
    width: 8vw;
    padding: 0.5vh 0;
  }

  #help-dialog {
    font-size: 0.8rem;
  }

  .keybinds-container {
    overflow-y: auto;
  }
}
