.toolbar {
  display: flex;
  flex-direction: column;
  width: 4vw;
  border: none;
  border-right: 2px solid var(--outline);
}

.tool {
  --foreground: var(--on-background);

  background-color: var(--background);
  color: var(--on-background);
  border: solid var(--outline);
  border-width: 0 2px 1px 0;
  padding: 8px 8px;
  cursor: pointer;

  /* Animation */
  transition: transform 0.2s ease;
  transition: background-color 0.3s ease;
}

.tool:hover {
  transform: scale(1.05);
  border-width: 1px 3px 2px 0;
}

.tool:active {
  border-width: 3px 2px 1px 3px;
}

.tool.active {
  --foreground: var(--background);

  background-color: var(--on-background);
  color: var(--background);
}

.spacer {
  flex-grow: 1;
  border-bottom: 1px solid var(--outline);
}

@media only screen and (max-width: 600px) {
  .toolbar {
    flex-direction: row;
    border: none;
    border-bottom: 2px solid var(--outline);
    height: 4vh;
    width: 100%;
  }

  .tool {
    border-width: 0 2px 3px 1px;
  }

  .spacer {
    border-right: 2px solid var(--outline);
  }
}
