.toolbar {
  display: flex;
  flex-direction: column;
  width: 4vw;
  border: none;
  border-right: 2px solid var(--outline);

  opacity: 0;
  transform: translateX(-4vw);
  transition: all 0.3s ease;
  pointer-events: none;
}

.toolbar.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.tool {
  --foreground: var(--on-background);

  background-color: var(--background);
  color: var(--on-background);
  border: none;
  border-bottom: 1px solid var(--outline);
  padding: 8px 8px;
  cursor: pointer;
}

.tool:active {
  border-left: 3px solid var(--outline);
  border-top: 3px solid var(--outline);
}

.tool.active {
  --foreground: var(--background);

  background-color: var(--on-background);
  color: var(--background);
}

.tool .corner {
  position: absolute;
  right: 2px;

  height: 6px;
  width: 6px;
  background: var(--foreground);
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
}

.spacer {
  flex-grow: 1;
  border-bottom: 1px solid var(--outline);
}
